[submodule "AWR1843_Read_Data"]
	path = AWR1843_Read_Data
	url = https://github.com/ibaiGorordo/AWR1843-Read-Data-Python-MMWAVE-SDK-3-.git
[submodule "Object_detection"]
	path = Object_detection
	url = https://github.com/skodippily/object_detection_YOLO8.git
